
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

p.bookmarklet {
    display: inline-block;
    border: 1px solid lightgray;

    a {
        padding: 10px;
        display: block;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

ul#links li.alternate {
    background-color: #efefef;
}

.jumbotron h1 {
    font-family: Oswald;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #c0c0c0;
    width: 100%;

    p {
        padding: 10px;
        text-align: center;
    }
}
